body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #ddd;
    padding: 10px;
    border: 1px solid #000;
}

main {
    border: 2px solid #000;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
}

button {
    margin: 10px 5px;
    padding: 8px 12px;
    cursor: pointer;
}

#generateNumberBtn{
    background-color: orange;
}
#generateNumberBtn:hover{
    opacity: 0.5;
}

#randomNumberDisplay {
    border: 1px solid #000;
    /* text-decoration: underline; */
    padding: 10px;
    margin: 15px 0;
}

ul {
    padding: 15px 15px 15px 40px;
    text-align: left;
    list-style-type: disc;
}