body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


main {
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
}

#loading {
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}