body {
    font-family: Arial, sans-serif;
    margin: 4rem;
    padding: 0;
    text-align: center;
}

h2{
    display: inline-block;
    text-decoration: underline;
    color: rgb(0, 17, 255);
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-top: 4rem;
    border: 1px solid black;
    padding: 20px;
}

section {
    border: 1px solid black;
    padding: 15px;
    width: 40%;
}

.product {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    text-align: left;
    padding-left: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.quantity {
    width: 40px;
}